{% load static%}
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body id="bg" style="background-image: url({% static 'img/background.jpg' %});">

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    {% if request.user.is_authenticated %}
        <a href="/home" class="w3-bar-item w3-button"><b>CF</b> Engineering</a>
    {% else %}
        <a class="w3-bar-item w3-button"><b>CF</b> Engineering</a>
    {% endif %}
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      {% if request.user.is_authenticated %}
      <a href="/home" class="w3-bar-item w3-button">Home</a>
      <a href="/reportwriter" class="w3-bar-item w3-button">Projects</a>
      <a href="/finance" class="w3-bar-item w3-button">Finance</a>
      {% endif %}
      <a href="/home/about" class="w3-bar-item w3-button">About</a>
    </div>
    <br>
    <br>
    <div class="w3-left w3-hide-small">
        {% if request.user.is_authenticated %}
        <p> Welcome, {{ request.user.first_name | upper }}</p>
        {% endif %}
    </div>
    <div class="w3-right w3-hide-small">
        {% if request.user.is_superuser %}
        <a class="w3-bar-item w3-button" href="{% url 'users:new_engineer' %}">Add User</a>
        <a class="w3-bar-item w3-button" href="/admin">Admin</a>
        {% endif%}
        {% if request.user.is_authenticated %}
            <a class="w3-bar-item w3-button" href="{% url 'logout' %}">Logout</a>
        {% endif %}
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% block content %}
{% endblock %}
</body>
</html>