{% extends 'base2.html' %}
{% block content %}
    <div class="w3-center w3-hide-small">
    <form method="POST" class="w3-container w3-card-4 w3-light-grey">
        {% csrf_token %}
        {% for field in form %}
        <label class="w3-text-grey"><b>{{field.label}}</b></label>
            {{ field }} {{ field.errors }} <br>
            <br>
        {% endfor %}
        <button class="w3-btn w3-grey w3-hover-green w3-round-xlarge" type="submit">Save User</button>
    </form>
    </div>
{% endblock %}