{% extends 'base.html' %}
{% block content %}
    <a class="btn btn-info" href="{% url 'reportwriter:add_report' %}">Add project</a>
    <table class="table">
        <thead>
            <tr>
                <th>Index</th>
                <th>Project Name</th>
                <th>Project Value (£)</th>
                <th>Project Type</th>
                <th>Client</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in reporting_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ item.project_name }}</td>
                    <td>{{ item.project_value }}</td>
                    <td>{{ item.project_type }}</td>
                    <td>{{ item.client }}</td>
                    <td><a href="{% url 'reportwriter:modify_report' item.id %}" class="btn btn-success">Modify</a>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}